/*
GALLERIES
1. Main Gallery
2. Art Gallery
3. GD Gallery
4. Photography Gallery
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@import url(node_modules/bootstrap/scss/bootstrap.scss);
@import url(scss/blog.scss);
@import url(scss/main.scss);
.directorGal {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 2rem 2rem 2rem;
  margin: 1rem;
  position: relative;
  background-color: #8ee4f6;
}

.maingalText {
  grid-column: 1;
  text-orientation: upright;
  writing-mode: vertical-lr;
  color: white;
  padding-top: 2rem;
  font-weight: 1000;
}

.rightside {
  display: grid;
  row-gap: 1rem;
}

.gallArt {
  position: relative;
  background-color: aquamarine;
  height: 20vh;
}

.gallGD {
  position: relative;
  background-color: blue;
  height: 20vh;
}

.gallPhoto {
  position: relative;
  background-color: forestgreen;
  height: 20vh;
}

.gallPhoto > img,
.gallGD > img,
.gallArt > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
  position: absolute;
}

.gallPhoto > button,
.gallGD > button,
.gallArt > button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #85c7f9;
  padding: 0rem 6rem 0rem 6rem;
}
.gallPhoto > button a,
.gallGD > button a,
.gallArt > button a {
  color: white;
}

.artGallery {
  width: 1140px;
  height: 500px;
  margin: 80px auto;
  position: relative;
}

.slider img {
  width: 100%;
  position: absolute;
}

.GDgallery {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, auto));
  grid-gap: 20px;
  padding: 2rem;
  background-color: #89d4d7;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.galToy {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, auto));
  grid-gap: 20px;
  padding: 2rem;
  background-color: #89d4d7;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (max-width: 992px) {
  .artGallery, .GDgallery {
    flex: 50%;
    width: 50%;
  }
}