/*
1. Body
2. Navigation
3. Index
4. Buttons
5. Social Media
6. About 
7. Contact
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
* {
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 240, 219, 0.918);
  font: 20px/1.5 "Montserrat", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 159, 26, 0.918);
  padding: 2rem;
  margin: 2rem auto;
  width: 100%;
  z-index: 4;
}

.logoImg > img {
  width: 100%;
  max-width: 300px;
  z-index: 6;
}

nav ul {
  display: flex;
  list-style: none;
  text-align: center;
  background-color: rgba(248, 160, 37, 0.957);
}
nav li {
  margin: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  white-space: nowrap;
  font-weight: 700;
  background-color: rgba(255, 159, 26, 0.918);
  border-style: solid;
  border-color: rgba(194, 117, 10, 0.957);
}
nav a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  background-color: transparent;
}

.mainWelcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8ee4f6;
  padding: 2rem;
  height: 500px;
  width: 100%;
  margin: 2em auto;
}

.mainWelcome > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 9;
  position: relative;
  backdrop-filter: blur(1rem);
}

.welText > h1 {
  font-weight: 1000;
  color: white;
}

.welText > button {
  cursor: pointer;
  position: absolute;
  background-color: #00d5e0;
  margin: 1rem;
  padding: 1rem;
  z-index: 11;
}
.welText > button a {
  text-decoration: none;
  color: white;
}

.button {
  cursor: pointer;
  background-color: #8ee4f6;
  color: white;
  position: relative;
  padding: 0.5em 1em;
  z-index: 1;
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #85c7f9;
  transform: scaleX(1);
  transform-origin: left;
}

.button:hover {
  background-color: #85c7f9;
  color: white;
  transform: scaleX(0);
  transform-origin: right;
}

#toggle {
  display: none;
}

.label {
  display: none;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #00d5e0;
  margin: 2rem 8rem 2rem 8rem;
  z-index: 200;
}
.socials .insta,
.socials .youtube {
  padding: 1rem;
}

.intro {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  background-color: rgba(255, 159, 26, 0.918);
}

.introLeft {
  margin: 1rem;
  justify-items: flex-start;
}

.introRight {
  margin: 1rem;
  background-color: #89d4d7;
  padding: 1em;
  justify-items: center;
  align-content: center;
}
.introRight h1, .introRight h3 {
  font-weight: 700;
  padding-top: 1rem;
}

.reachOut {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  background-color: #8ee4f6;
  height: 50vh;
}

.reachText {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
.reachText h1 {
  display: inline;
  font-weight: bolder;
}
.reachText p {
  font-weight: 600;
}

.contactForm {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  row-gap: 4rem;
  padding: 2rem;
}
.contactForm #phone, .contactForm #email, .contactForm #name {
  padding: 1rem;
  background-color: rgba(255, 240, 219, 0.918);
}
.contactForm .submit {
  padding: 2px;
  background-color: rgba(255, 240, 219, 0.918);
}

@media (max-width: 992px) {
  .label {
    display: block;
    cursor: pointer;
  }

  nav ul {
    text-align: center;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
    top: 5.6em;
    width: 80%;
    left: 10%;
    position: absolute;
    background-color: rgba(255, 240, 219, 0.918);
    max-height: 0;
    overflow: hidden;
  }

  nav a {
    opacity: 1;
  }

  #toggle:checked + .menu {
    max-height: 300px;
  }

  header > .logo {
    padding: 1em 0.5em 0.5em 0.5em;
  }

  .menu a {
    display: block;
    margin: 0;
  }
}
/*


    //box shadow holds text
    -webkit-box-shadow: inset 79px 58px 1px 4px rgba(0, 0, 0, 0);
    box-shadow: inset 79px 58px 1px 4px rgba(0, 0, 0, 0);
}

.galBtn {
    cursor: pointer;
    background-color: $button-background;
    color: $org--100;
    position: relative;
    padding: 0.5em 1em;
    z-index: 1;
}
.galBtn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $org--300;

    //TRANSFORMATION
    transform: scaleX(1);
    transform-origin: left;
}
.galBtn:hover {
    background-color: red;
    color: $text-color;

    //TRANSITION EFFECT
    transform: scaleX(0);
    transform-origin: right;
}


.btnGal {
    grid-column: 4fr;
    color: black;
    padding: 0.5em;
    background-color: $text-color;
}

// TOY Photo gallery container
.container-gallery {
    display: grid;
    justify-content: space-between;
}

.container-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.item > a > img {
    color: $text-color;
}

.button {
    text-decoration: none;
}
.footer {
    display: grid;
    text-align: center;
}
*/